#root{
  height: 100vh;
  .App{
    height: 100%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
      padding: .5rem 1rem;
      margin: 1rem 0;
    }
  }
}