#root {
	height: 100vh;
	.App {
		display: grid;
		padding: 0;
		margin: 0;
		grid-template-rows: 1.5fr 1fr 80px;
	}
}

input:focus,
button:focus,
select:focus {
	outline: none;
}

.arrow-back {
	animation: flip 0.2s linear forwards;

	@keyframes flip {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(90deg);
		}
	}
}

.search-wraper {
	input {
		font-size: 0.9em;
		font-weight: 500;
	}
	input::placeholder {
		font-size: 0.8em;
		font-weight: 400;
	}
}

.chatbox-input:checked + label {
	background-color: rgba(196, 196, 196, 0.39);
}

.chat-box-label:hover {
	background-color: rgba(196, 196, 196, 0.19);
}

.side-bar {
	transform: translateX(0);
	transition: transform 0.5s ease;
}

.hide-side-bar {
	@media screen and (max-width: 767px) {
		transform: translateX(-100%);
	}
}

* {
	box-sizing: border-box;
}

.nav-bar {
	height: 8%;
	min-height: 5em;
}

.prof-card {
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(0);
	transition: transform 0.5s ease;
	.imgWrap {
		margin-top: 10%;
	img {
		height: 8rem;
		width: 8rem;
		border-width: 0.5em;
	}
	.edit-img {
		bottom: 0.2em;
		right: -0.2em
	}

}
.input-edit {
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.input-edit:focus {
	border-color:  rgba(255, 255, 255, 0.7);
}
}

.profile-hide {
		transform: translateX(100%);
}

.min-h-20 {
	min-height: 5em;
}

.loader {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	max-height: 100vh;
}

.newRoom {
	input::placeholder {
		font-size: 0.85em;
		color: rgba(255, 255, 255, 0.6);
	}
	button {
		border-radius: 5px;
		border-color: rgba(255, 255, 255, 0.8);
    outline:none;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	
}
